<footer class="container py-5 pt-5">
    <div class="row text-light">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Amazing Stuff</a></li>
                <li><a class="text-muted" href="#">Developers Click Here</a></li>
            </ul>
        </div>
        <div class="col-md-4 text-center">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Our Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</footer>