body {
    background: #222 !important;
}

#header {
    padding-top: 5px;
    font-size: 16px;
}

.jumbotron {
    background-color: transparent !important;
    padding-top: 10rem;
}

.padding-top {
    padding-top: 10rem;
}