{% extends 'base.html' %} {% block content %}
<div class="container padding-top">
    <div class="row text-light text-center">
        <div class="mx-auto">
        <h2 class="card-title">Sony Vegas</h2>
            <div class="card-group" style="width: 70rem;">
                <div class="card bg-danger">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JEyF27AUZos" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">How to Sync/Velocity Pancrop</h5>
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UOPDEBgUgEg" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">How to Create Shake</h5>
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1FifUQhcMI0" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">How to Render for YouTube</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}